.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 100%;
    max-width: 400px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

button[mat-raised-button] {
    margin-right: 8px;
}