<div class="center-container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="login()">
                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="credentials.email" name="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password"
                        name="password" required>
                </mat-form-field>
                <div class="button-container">
                    <button mat-raised-button color="primary">Login</button>
                    <button mat-raised-button color="primary" [routerLink]="['/register']">Go to Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>