mat-list-item {
    margin-bottom: 15px;
}

mat-list-item div {
    width: 100%;
}

button {
    margin: 5px;
}

.center-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

mat-card {
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-details h4,
.task-details p {
    margin: 0;
}

.task-details {
    flex-grow: 1;
    overflow: hidden;
}

.task-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

button[mat-raised-button] {
    margin-left: 10px;
}